<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Game Page</title>
  <link rel="stylesheet" href="css/reset.css">
  <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/game.css">
</head>

<body>
  <div class="parent">
    <section class="section1">
        <img class="logo" src="img/devtestword.png" alt="">
        <div class="word">
          <textarea class="input" cols="30" rows="1" autofocus="true" wrap="hard"></textarea>
          <div class="num-char">0</div>
          <button class="start-btn">START</button>
          <button class="next-btn">NEXT</button>
        </div>

        <div class="hint-parent">

          <div class="hint1">
              <div class="hint-inner">
                <div class="hint-front">HINT 1</div>
                <div class="hint-back"></div>
              </div>
          </div>
  
          <div class="hint2">
              <div class="hint-inner">
                <div class="hint-front">HINT 2</div>
                <div class="hint-back"></div>
              </div>
          </div>
  
          <div class="hint3">
              <div class="hint-inner">
                <div class="hint-front">HINT 3</div>
                <div class="hint-back"></div>
              </div>
          </div>

          <div class="game-footer">
            <a class="glossary-link" href="/glossary">GLOSSARY</a>
          </div>

        </div>

      </section>

      <section class="section2">
        <svg width="459px" height="662px" viewBox="0 0 459 662" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <defs>
              <rect id="path-1" x="0" y="0" width="289" height="320"></rect>
              <filter x="-1.0%" y="-0.9%" width="102.1%" height="101.9%" filterUnits="objectBoundingBox" id="filter-2">
                  <feOffset dx="0" dy="0" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
                  <feGaussianBlur stdDeviation="1" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
                  <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.5 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
              </filter>
              <circle id="path-3" cx="45" cy="45" r="45"></circle>
              <path d="M381.28807,660.318911 C394.184619,659.897114 402.669251,657.151159 406.741967,652.081048 C410.814683,647.010936 413.697233,635.605919 415.389617,617.865998 L431.289556,412.088646 L28.8134457,412.088646 L42.1645303,617.865998 C43.5219144,635.534608 46.3712351,646.939625 50.7124925,652.081048 C55.0537499,657.22247 64.4829191,660.359072 79,661.490853 L381.28807,660.318911 Z" id="path-5"></path>
              <filter x="-1.0%" y="-1.6%" width="102.0%" height="103.2%" filterUnits="objectBoundingBox" id="filter-6">
                  <feGaussianBlur stdDeviation="3" in="SourceAlpha" result="shadowBlurInner1"></feGaussianBlur>
                  <feOffset dx="0" dy="-2" in="shadowBlurInner1" result="shadowOffsetInner1"></feOffset>
                  <feComposite in="shadowOffsetInner1" in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1" result="shadowInnerInner1"></feComposite>
                  <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.109346694 0" type="matrix" in="shadowInnerInner1"></feColorMatrix>
              </filter>
          </defs>
          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <path class="shredder-body" d="M29.7779117,411.90399 L420.576558,411.90399 L438.381337,411.90399 C446.572126,411.016645 452.324497,405.175944 455.63845,394.381888 C460.609378,378.190803 457.330566,363.122773 455.63845,359.144301 C454.510372,356.491987 442.16752,328.782883 418.609893,276.016991 C414.000377,267.129058 405.058789,262.685092 391.785129,262.685092 C378.511469,262.685092 268.046334,262.685092 60.3897242,262.685092 C46.2351978,262.762181 37.4018213,267.206148 33.8895947,276.016991 C30.377368,284.827834 19.975043,312.536937 2.68261949,359.144301 C-0.586750766,374.250278 0.425124658,386.453738 5.71824576,395.754681 C11.0113669,405.055623 19.0312555,410.438726 29.7779117,411.90399 Z" id="Lid" fill="#C0BEBE"></path>
              <polygon class="shredder-body" id="Slot" fill="#8D8C8C" points="65.1760231 322.404419 381.28807 322.404419 373.894252 303.332757 70.6920696 303.332757"></polygon>
              <g class="resume" id="Resume" transform="translate(79.000000, 2.000000)">
                  <g id="paper-solid">
                      <use fill="black" fill-opacity="1" filter="url(#filter-2)" xlink:href="#path-1"></use>
                      <use fill="#456DD4" fill-rule="evenodd" xlink:href="#path-1"></use>
                  </g>
                  <text id="Body-Text" fill="#FFFFFF" font-family="GillSans-LightItalic, Gill Sans" font-size="11" font-style="italic" font-weight="300">
                      <tspan x="12" y="129">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do </tspan>
                      <tspan x="12" y="142">eiusmod tempor incididunt ut labore et dolore magna aliqua. </tspan>
                      <tspan x="12" y="155">Amet cursus sit amet dictum. Dui vivamus arcu felis bibendum. </tspan>
                      <tspan x="12" y="168">Quis viverra nibh cras pulvinar.</tspan>
                      <tspan x="12" y="181"></tspan>
                      <tspan x="12" y="194">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do </tspan>
                      <tspan x="12" y="207">eiusmod tempor incididunt ut labore et dolore magna aliqua. </tspan>
                      <tspan x="12" y="220">Amet cursus sit amet dictum. Dui vivamus arcu felis bibendum. </tspan>
                      <tspan x="12" y="233">Quis viverra nibh cras pulvinar.</tspan>
                      <tspan x="12" y="246"></tspan>
                      <tspan x="12" y="259">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do </tspan>
                      <tspan x="12" y="272">eiusmod tempor incididunt ut labore et dolore magna aliqua. </tspan>
                      <tspan x="12" y="285">Amet cursus sit amet dictum. Dui vivamus arcu felis bibendum. </tspan>
                      <tspan x="12" y="298">Quis viverra nibh cras pulvinar.</tspan>
                  </text>
                  <text id="Job-Title" fill="#FFFFFF" font-family="GillSans, Gill Sans" font-size="20" font-weight="normal">
                      <tspan x="128" y="71">Developer CV</tspan>
                  </text>
                  <text id="Name" fill="#FFFFFF" font-family="GillSans, Gill Sans" font-size="30" font-weight="normal">
                      <tspan x="128" y="36"><%= name %></tspan>
                  </text>
                  <g id="Avatar" transform="translate(12.000000, 8.000000)">
                      <mask id="mask-4" fill="white">
                          <use xlink:href="#path-3"></use>
                      </mask>
                      <use id="Mask" fill="#FFFFFF" xlink:href="#path-3"></use>
                      <circle id="Oval" fill="#D8D8D8" mask="url(#mask-4)" cx="45" cy="90" r="45"></circle>
                      <circle id="Oval" fill="#D8D8D8" mask="url(#mask-4)" cx="44" cy="30" r="18"></circle>
                  </g>
              </g>
              <path class="shredder-body" d="M381.28807,660.318911 C394.184619,659.897114 402.669251,657.151159 406.741967,652.081048 C410.814683,647.010936 413.697233,635.605919 415.389617,617.865998 L431.289556,412.088646 L28.8134457,412.088646 L42.1645303,617.865998 C43.5219144,635.534608 46.3712351,646.939625 50.7124925,652.081048 C55.0537499,657.22247 64.4829191,660.359072 79,661.490853 L381.28807,660.318911 Z" id="bin-1" fill="#FEFCFC"></path>
              <path class="resume-shred" d="M358,380 L368,380 L368,412 L358,412 L358,380 Z M332,380 L342,380 L342,412 L332,412 L332,380 Z M311,380 L321,380 L321,412 L311,412 L311,380 Z M290,380 L300,380 L300,412 L290,412 L290,380 Z M269,380 L279,380 L279,412 L269,412 L269,380 Z M248,380 L258,380 L258,412 L248,412 L248,380 Z M227,380 L237,380 L237,412 L227,412 L227,380 Z M205,380 L215,380 L215,412 L205,412 L205,380 Z M184,380 L194,380 L194,412 L184,412 L184,380 Z M163,380 L173,380 L173,412 L163,412 L163,380 Z M142,380 L152,380 L152,412 L142,412 L142,380 Z M121,380 L131,380 L131,412 L121,412 L121,380 Z M100,380 L110,380 L110,412 L100,412 L100,380 Z M79,380 L89,380 L89,412 L79,412 L79,380 Z" id="paper-shredded" fill="#456DD4"></path>
              <path class="resume-shred-1" d="M358,380 L368,380 L368,412 L358,412 L358,380 Z M332,380 L342,380 L342,412 L332,412 L332,380 Z M311,380 L321,380 L321,412 L311,412 L311,380 Z M290,380 L300,380 L300,412 L290,412 L290,380 Z M269,380 L279,380 L279,412 L269,412 L269,380 Z M248,380 L258,380 L258,412 L248,412 L248,380 Z M227,380 L237,380 L237,412 L227,412 L227,380 Z M205,380 L215,380 L215,412 L205,412 L205,380 Z M184,380 L194,380 L194,412 L184,412 L184,380 Z M163,380 L173,380 L173,412 L163,412 L163,380 Z M142,380 L152,380 L152,412 L142,412 L142,380 Z M121,380 L131,380 L131,412 L121,412 L121,380 Z M100,380 L110,380 L110,412 L100,412 L100,380 Z M79,380 L89,380 L89,412 L79,412 L79,380 Z" id="paper-shredded-1" fill="#456DD4"></path>
              <path class="resume-shred-2" d="M358,380 L368,380 L368,412 L358,412 L358,380 Z M332,380 L342,380 L342,412 L332,412 L332,380 Z M311,380 L321,380 L321,412 L311,412 L311,380 Z M290,380 L300,380 L300,412 L290,412 L290,380 Z M269,380 L279,380 L279,412 L269,412 L269,380 Z M248,380 L258,380 L258,412 L248,412 L248,380 Z M227,380 L237,380 L237,412 L227,412 L227,380 Z M205,380 L215,380 L215,412 L205,412 L205,380 Z M184,380 L194,380 L194,412 L184,412 L184,380 Z M163,380 L173,380 L173,412 L163,412 L163,380 Z M142,380 L152,380 L152,412 L142,412 L142,380 Z M121,380 L131,380 L131,412 L121,412 L121,380 Z M100,380 L110,380 L110,412 L100,412 L100,380 Z M79,380 L89,380 L89,412 L79,412 L79,380 Z" id="paper-shredded-2" fill="#456DD4"></path>
              <g id="bin-2">
                  <use fill-opacity="0.75" fill="#FEFCFC" fill-rule="evenodd" xlink:href="#path-5"></use>
                  <use fill="black" fill-opacity="1" filter="url(#filter-6)" xlink:href="#path-5"></use>
              </g>
              <path class="shredder-body" d="M29.7779117,411.90399 L420.576558,411.90399 L438.381337,411.90399 C446.572126,411.016645 452.324497,405.175944 455.63845,394.381888 C460.609378,378.190803 457.330566,363.122773 455.63845,359.144301 C454.510372,356.491987 449.03547,344.245359 439.213743,322.404419 C157.626491,321.781027 16.6515162,321.781027 16.2888192,322.404419 C15.9261222,323.027811 11.3907223,335.274438 2.68261949,359.144301 C-0.586750766,374.250278 0.425124658,386.453738 5.71824576,395.754681 C11.0113669,405.055623 19.0312555,410.438726 29.7779117,411.90399 Z" id="Lid-Copy" fill="#C0BEBE"></path>
              <path class="shredder-body" d="M29.9677815,411.748925 L420.766428,411.748925 L438.571206,411.748925 C446.761996,410.86158 452.514367,405.020879 455.82832,394.226822 C460.799248,378.035737 457.520436,362.967707 455.82832,358.989236 C454.700242,356.336921 303.714965,356.336921 2.87248922,358.989236 C-0.396881031,374.095213 0.614994392,386.298673 5.9081155,395.599616 C11.2012366,404.900558 19.2211253,410.283661 29.9677815,411.748925 Z" id="Lid-Shadow" fill="#D8D8D8"></path>
              <g class="shredder-body" id="LED" >
                  <circle id="Oval" fill="#C26767" cx="16" cy="16" r="16" transform="translate(407.000000, 368.000000)"></circle>
                  <circle id="Oval" fill="#F16767" cx="16" cy="18" r="14" transform="translate(407.000000, 368.000000)"></circle>
              </g>
          </g>
        </svg>
      </section>
    </div>
    <div class="overlay">
      <h1>TIMES UP</h1>
      <a href="/results" class="results-btn">See how you stack against your peers</a>
    </div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script src="javascript/game.js"></script>

</html>