<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Game Page</title>
  <link rel="stylesheet" href="css/reset.css">
  <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/game.css">
</head>

<body>
  <div class="parent">
    <section class="section1">
        <h1>DEV TEST</h1>
        <div class="word">
          <textarea class="input" name="" id="" cols="30" rows="1" autofocus="true" wrap="hard"></textarea>
          <div class="num-char">0</div>
          <button class="start-btn">START</button>
        </div>


        <div class="hint1">
            <div class="hint-inner">
              <div class="hint-front">HINT 1</div>
              <div class="hint-back"></div>
            </div>
        </div>

        <div class="hint2">
            <div class="hint-inner">
              <div class="hint-front">HINT 2</div>
              <div class="hint-back"></div>
            </div>
        </div>

        <div class="hint3">
            <div class="hint-inner">
              <div class="hint-front">HINT 3</div>
              <div class="hint-back">Text</div>
            </div>
        </div>

      </section>
      <section class="section2">
        <img src="https://shredderwizard.com/wp-content/uploads/featured-howtochoose.jpg" alt="">
      </section>
    </div>
        <footer>
            <a class="glossary-link" href="/glossary">GLOSSARY</a>
        </footer>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="javascript/game.js"></script>

</html>