<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../public/css/glossary-style.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <title>Glossary</title>
  </head>
  <body>

    <div class="site-container">
      <nav class="glossary-sidebar">
        <ul>
          <li><a href="#">A</a></li>
          <li><a href="#">B</a></li>
          <li><a href="#">C</a></li>
          <li><a href="#">D</a></li>
          <li><a href="#">E</a></li>
          <li><a href="#">F</a></li>
          <li><a href="#">G</a></li>
          <li><a href="#">H</a></li>
          <li><a href="#">I</a></li>
          <li><a href="#">J</a></li>
          <li><a href="#">K</a></li>
          <li><a href="#">L</a></li>
          <li><a href="#">M</a></li>
          <li><a href="#">N</a></li>
          <li><a href="#">O</a></li>
          <li><a href="#">P</a></li>
          <li><a href="#">Q</a></li>
          <li><a href="#">R</a></li>
          <li><a href="#">S</a></li>
          <li><a href="#">T</a></li>
          <li><a href="#">U</a></li>
          <li><a href="#">V</a></li>
          <li><a href="#">W</a></li>
          <li><a href="#">X</a></li>
          <li><a href="#">Y</a></li>
          <li><a href="#">Z</a></li>
        </ul>
      </nav>

      <main>
        <section class="definition-list">
          <ul>
            
            <li>
              <a href="#" class="definition-title">Classes</a>
              <article class="detail">
                  <p>JavaScript classes, introduced in ECMAScript 2015, are primarily syntactical sugar over JavaScript's existing prototype-based inheritance. The class syntax does not introduce a new object-oriented inheritance model to JavaScript.</p>
                  <footer>
                    <a href="#"><i class="fas fa-tag tag-icon"></i>html</a>
                    <a href="#"><i class="fas fa-tag tag-icon"></i>javascript</a>
                  </footer>
                </article>
            </li>
            
            <li>
              <a href="#" class="definition-title">Command Line Interface</a>
              <article class="detail">
                  <p>A command line interface (CLI) is a text-based user interface (UI) used to view and manage computer files. Command line interfaces are also called command-line user interfaces, console user interfaces and character user interfaces.
                    </p>
                  <footer>
                    <a href="#"><i class="fas fa-tag tag-icon"></i>html</a>
                    <a href="#"><i class="fas fa-tag tag-icon"></i>javascript</a>
                  </footer>
                </article>
            </li>
            
            <li>
              <a href="#" class="definition-title">Compiler</a>
              <article class="detail">
                <p>A compiler is a software program that transforms high-level source code that is written by a developer in a high-level programming language into a low level object code (binary code) in machine language, which can be understood by the processor. The process of converting high-level programming into machine language is known as compilation.</p>
                <footer>
                  <a href="#"><i class="fas fa-tag tag-icon"></i>html</a>
                  <a href="#"><i class="fas fa-tag tag-icon"></i>javascript</a>
                </footer>
              </article>
            </li>
            
            <li>
              <a href="#" class="definition-title">Concurrency</a>
              <article class="detail">
                  <p>Simply described, it's when you are doing more than one thing at the same time. Not to be confused with parallelism, concurrency is when multiple sequences of operations are run in overlapping periods of time. In the realm of programming, concurrency is a pretty complex subject.</p>
                  <footer>
                    <a href="#"><i class="fas fa-tag tag-icon"></i>html</a>
                    <a href="#"><i class="fas fa-tag tag-icon"></i>javascript</a>
                  </footer>
                </article>
            </li>
            
            <li>
              <a href="#" class="definition-title">Corridor Testing</a>
              <article class="detail">
                  <p>A technique used in user-centered interaction design to evaluate a product by testing it on users. This can be seen as an irreplaceable usability practice, since it gives direct input on how real users use the system.[1] This is in contrast with usability inspection methods where experts use different methods to evaluate a user interface without involving users.</p>
                  <footer>
                    <a href="#"><i class="fas fa-tag tag-icon"></i>html</a>
                    <a href="#"><i class="fas fa-tag tag-icon"></i>javascript</a>
                  </footer>
                </article>
            </li>
            
            <li>
              <a href="#" class="definition-title">CRUD</a>
              <article class="detail">
                  <p>In computer programming, create, read, update, and delete (CRUD) are the four basic functions of persistent storage. Alternate words are sometimes used when defining the four basic functions of CRUD, such as retrieve instead of read, modify instead of update, or destroy instead of delete. CRUD is also sometimes used to describe user interface conventions that facilitate viewing, searching, and changing information; often using computer-based forms and reports.</p>
                  <footer>
                    <a href="#"><i class="fas fa-tag tag-icon"></i>html</a>
                    <a href="#"><i class="fas fa-tag tag-icon"></i>javascript</a>
                  </footer>
                </article>
            </li>
            
          </ul>
        </section>
      </main>
    </div>

    <script src="../public/javascript/glossary.js"></script>
    
  </body>
</html>