<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/css/stylemain.css">
</head>
<body>
  <h1> <img class= "head-logo" src="/img/devtest.png"> </h1>
  
  <div class="name">
    <!-- Need to send name to server -->
    <form method="post" action="/game">
        <input type="text" name="name[name]" class="question" id="name" required autocomplete="off">
        <label for="name"><span>Enter name:</span></label>
  </div>
</form>

  <div class="selector">
      <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
                <a href="glossary"><div class="glossbttn">Glossary</div></a>
            </div>
            <div class="flip-card-back">
                <h3>learn the words</h3>
            </div>
          </div>
        </div>

        <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                  <a href="game"><div class="gamebttn">Game</div></a>
              </div>
              <div class="flip-card-back">
                <h3>play the game</h3>
              </div>
            </div>
          </div>
  </div> 
<body>
</html>



