<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/css/stylemain.css">
</head>
<body>
  <h1> <img class= "head-logo" src="/img/devtest.png"> </h1>
  
  <div class="name">
    <form method="post" action="/game">
        <input type="text" name="name" class="question" id="name" required autocomplete="off">
        <label for="name"><span>Enter name:</span></label>
  </div>
</form>

  <div class="selector">
      <a href="glossary">
        <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                  <a href="glossary" style="text-decoration: none"><div class="glossbttn">Glossary</div></a>
              </div>
              <div class="flip-card-back">
                  <a href="glossary" style="text-decoration: none"><h3>learn the words</h3></a>
              </div>
            </div>
          </div>
      </a>
      <a href="game">
        <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                  <a href="game" style="text-decoration: none"><div class="gamebttn">Game</div></a>
              </div>
              <div class="flip-card-back">
                  <a href="game" style="text-decoration: none"><h3>play the game</h3></a>
              </div>
            </div>
          </div>
      </a>
  </div> 
<body>
</html>



