<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/css/styleresults.css">
  <link rel="stylesheet" href="/animations/paper-stack/style.css">
</head>
<body>
  <div class="header">
    <img src="/img/devtestword.png" alt="" class="logo">
  </div>
<div class="container">
  
  <div class="results"> 
    
    <h2> congratulations! </h2>
    <div> You scored in the top 25% of applicants!</div>
  </div>

      <div class="winner">
          <svg width="904px" height="712px" viewBox="0 0 904 712" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g class="paper" id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="paper-0" transform="translate(29.000000, 385.000000)">
                    <polygon id="stack-front" fill="#CBCBCB" points="0 122.994476 612.009448 309.291786 612.009448 326.505758 0 139.983738"></polygon>
                    <polygon id="stack-top" stroke="#CBCBCB" fill="#FFFFFF" points="262.035022 0 863.374886 159.446111 612.02017 309.30622 0.0104675293 122.999207"></polygon>
                    <polygon id="stack-side" fill="#CBCBCB" points="863.343466 159.450366 863.343466 178.500966 612 326.506272 612 309.290225"></polygon>
                </g>
                <g class="paper" id="paper-1" transform="translate(37.000000, 351.000000)">
                    <polygon id="stack-front" fill="#CBCBCB" points="0 122.994476 612.009448 309.291786 612.009448 326.505758 0 139.983738"></polygon>
                    <polygon id="stack-top" stroke="#CBCBCB" fill="#FFFFFF" points="262.035022 0 863.374886 159.446111 612.02017 309.30622 0.0104675293 122.999207"></polygon>
                    <polygon id="stack-side" fill="#CBCBCB" points="863.343466 159.450366 863.343466 178.500966 612 326.506272 612 309.290225"></polygon>
                </g>
                <g class="paper" id="paper-2" transform="translate(14.000000, 312.000000)">
                    <polygon id="stack-front" fill="#CBCBCB" points="0 122.994476 612.009448 309.291786 612.009448 326.505758 0 139.983738"></polygon>
                    <path d="M262.082765,0.529936833 L1.39965223,122.899446 L611.954141,308.763465 L862.098534,159.624962 L262.082765,0.529936833 Z" id="stack-top" stroke="#CBCBCB" fill="#FFFFFF"></path>
                    <polygon id="stack-side" fill="#CBCBCB" points="863.343466 159.450366 863.343466 178.500966 612 326.506272 612 309.290225"></polygon>
                </g>
                <g class="paper" id="paper-3" transform="translate(29.000000, 268.000000)">
                    <polygon id="stack-front" fill="#CBCBCB" points="0 122.994476 612.009448 309.291786 612.009448 326.505758 0 139.983738"></polygon>
                    <path d="M262.082765,0.529936833 L1.39965223,122.899446 L611.954141,308.763465 L862.098534,159.624962 L262.082765,0.529936833 Z" id="stack-top" stroke="#CBCBCB" fill="#FFFFFF"></path>
                    <polygon id="stack-side" fill="#CBCBCB" points="863.343466 159.450366 863.343466 178.500966 612 326.506272 612 309.290225"></polygon>
                </g>
                <g class="paper" id="paper-4" transform="translate(0.000000, 234.000000)">
                    <polygon id="stack-front" fill="#456DD4" points="0 122.994476 612.009448 309.291786 612.009448 326.505758 0 139.983738"></polygon>
                    <path d="M262.082765,0.529936833 L1.39965223,122.899446 L611.954141,308.763465 L862.098534,159.624962 L262.082765,0.529936833 Z" id="stack-top" stroke="#456DD4" fill="#FFFFFF"></path>
                    <polygon id="stack-side" fill="#456DD4" points="863.343466 159.450366 863.343466 178.500966 612 326.506272 612 309.290225"></polygon>
                </g>
                <g class="paper" id="paper-5" transform="translate(25.000000, 191.000000)">
                    <polygon id="stack-front" fill="#CBCBCB" points="0 122.994476 612.009448 309.291786 612.009448 326.505758 0 139.983738"></polygon>
                    <path d="M262.082765,0.529936833 L1.39965223,122.899446 L611.954141,308.763465 L862.098534,159.624962 L262.082765,0.529936833 Z" id="stack-top" stroke="#CBCBCB" fill="#FFFFFF"></path>
                    <polygon id="stack-side" fill="#CBCBCB" points="863.343466 159.450366 863.343466 178.500966 612 326.506272 612 309.290225"></polygon>
                </g>
                <g class="paper" id="paper-6" transform="translate(38.000000, 154.000000)">
                    <polygon id="stack-front" fill="#CBCBCB" points="0 122.994476 612.009448 309.291786 612.009448 326.505758 0 139.983738"></polygon>
                    <path d="M262.082765,0.529936833 L1.39965223,122.899446 L611.954141,308.763465 L862.098534,159.624962 L262.082765,0.529936833 Z" id="stack-top" stroke="#CBCBCB" fill="#FFFFFF"></path>
                    <polygon id="stack-side" fill="#CBCBCB" points="863.343466 159.450366 863.343466 178.500966 612 326.506272 612 309.290225"></polygon>
                </g>
                <g class="paper" id="paper-7" transform="translate(24.000000, 121.000000)">
                    <polygon id="stack-front" fill="#CBCBCB" points="0 122.994476 612.009448 309.291786 612.009448 326.505758 0 139.983738"></polygon>
                    <path d="M262.082765,0.529936833 L1.39965223,122.899446 L611.954141,308.763465 L862.098534,159.624962 L262.082765,0.529936833 Z" id="stack-top" stroke="#CBCBCB" fill="#FFFFFF"></path>
                    <polygon id="stack-side" fill="#CBCBCB" points="863.343466 159.450366 863.343466 178.500966 612 326.506272 612 309.290225"></polygon>
                </g>
                <g class="paper" id="paper-8" transform="translate(27.000000, 86.000000)">
                    <polygon id="stack-front" fill="#CBCBCB" points="0 122.994476 612.009448 309.291786 612.009448 326.505758 0 139.983738"></polygon>
                    <path d="M262.082765,0.529936833 L1.39965223,122.899446 L611.954141,308.763465 L862.098534,159.624962 L262.082765,0.529936833 Z" id="stack-top" stroke="#CBCBCB" fill="#FFFFFF"></path>
                    <polygon id="stack-side" fill="#CBCBCB" points="863.343466 159.450366 863.343466 178.500966 612 326.506272 612 309.290225"></polygon>
                </g>
                <g class="paper" id="paper-9" transform="translate(5.000000, 46.000000)">
                    <polygon id="stack-front" fill="#CBCBCB" points="0 122.994476 612.009448 309.291786 612.009448 326.505758 0 139.983738"></polygon>
                    <path d="M262.082765,0.529936833 L1.39965223,122.899446 L611.954141,308.763465 L862.098534,159.624962 L262.082765,0.529936833 Z" id="stack-top" stroke="#CBCBCB" fill="#FFFFFF"></path>
                    <polygon id="stack-side" fill="#CBCBCB" points="863.343466 159.450366 863.343466 178.500966 612 326.506272 612 309.290225"></polygon>
                </g>
                <g class="paper" id="paper-10" transform="translate(40.000000, 0.000000)">
                    <polygon id="stack-front" fill="#CBCBCB" points="0 122.994476 612.009448 309.291786 612.009448 326.505758 0 139.983738"></polygon>
                    <path d="M262.082765,0.529936833 L1.39965223,122.899446 L611.954141,308.763465 L862.098534,159.624962 L262.082765,0.529936833 Z" id="stack-top" stroke="#CBCBCB" fill="#FFFFFF"></path>
                    <polygon id="stack-side" fill="#CBCBCB" points="863.343466 159.450366 863.343466 178.500966 612 326.506272 612 309.290225"></polygon>
                </g>
            </g>
        </svg>
  </div>
</div>

<div class="selector">
<<<<<<< HEAD
  <a href="glossary"> <div class="glossbttn">Glossary</div></a>
  <a href="game"> <div class ="gamebttn">Play again</div></a>
=======
  <a href="glossary" style="text-decoration: none"> <div class="glossbttn">Glossary</div></a>
  <a href="game" style="text-decoration: none"> <div class ="gamebttn">Play again</div></a>
>>>>>>> gloss css tweaks
</div>

</body>
</html>