body {
  width: 100%;
  height: 100%;
}

img {
  width: 400px;
  height: 300px;
}

.overlay{
  width: 100%;
  height: 100%;
  background-color: rgba(172, 255, 47, 0.404);
  position: fixed;
  top: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
}

.overlay h1{
  width: 100%;
  text-align: center;
  padding-top: 30vh;
  font-size: 6em;
}


.parent {
  width: 100%;
  display: flex;
  height: 100%;
  justify-content: center;
  align-content: center;
}

.section1 {
  margin-top: 3rem;
}

.section1 > h1 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  font-size: 4rem;
  text-shadow:
-2px -2px 0 #000,
2px -2px 0 #000,
-2px 2px 0 #000,
2px 2px 0 #000;
  color: white;
}

.word {
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  margin-top:5rem;
  text-align: center;
  font-size: 3rem;
  width: 300px;
  height: 50px;
  border: none;
  border-bottom: 2px solid black;
  text-transform: uppercase;
  resize: none;
  overflow: hidden;
  outline: none;
}

.input:focus {
  border-bottom: 2px solid dodgerblue;
}

.num-char {
  display: inline-block;
}

.start-btn {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 4rem;
  font-size: 1.5rem;
}

.hint-inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

[class^='hint'] {
  background-color: transparent;
  width: 600px;
  height: 70px;
  perspective: 1000px;
  margin-bottom: 0.7rem;
}

[class^='hint']:hover {
  cursor: pointer;
}

.hint-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.reveal .hint-inner {
  transform: rotateX(180deg);
}

.hint-front, .hint-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.hint-front {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #bbb;
  color: black;
}

.hint-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateX(180deg);
}

footer {
  margin-top: 12rem;
}

footer {
  margin-top: 12rem;
}

.glossary-link {
 background-color: rgb(190, 190, 190);
 color: white;
 font-size: 2rem;
}

.section2 {
  height: 40%;
  width: 20%;
  margin-top: 4rem;
}

.shredder-body {
  animation-name: body-shake;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: 0.5s;
  transform-origin: 50% 50%;
}
.resume {
    animation-name: shred1;
    animation-duration: 60s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.resume-shred {
  animation-name: shred-paper;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: 0s;
}
.resume-shred-1 {
  animation-name: shred-paper;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: 0.75s;
}
.resume-shred-2 {
  animation-name: shred-paper;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: 1.5s;
}

@keyframes shred-paper{
  0% { opacity: 1; transform: scaleY(1);}
  100% { opacity: 0;transform: scaleY(1.5);}
}

@keyframes shred1 {
  0% { transform: translate3d(80px, 0, 0); }
  100% { transform: translate3d(80px, 320px, 0); }
}

@keyframes body-shake {
  0% { transform: rotate(.25deg); }
  5% { transform: rotate(-.25deg); }
  10% { transform: rotate(.25deg); }
  15% { transform: rotate(-.25deg); }
  20% { transform: rotate(.25deg); }
  25% { transform: rotate(-.25deg); }
  30% { transform: rotate(.25deg); }
  35% { transform: rotate(-.25deg); }
  40% { transform: rotate(.25deg); }
  45% { transform: rotate(-.25deg); }
  50% { transform: rotate(.25deg); }
  55% { transform: rotate(-.25deg); }
  60% { transform: rotate(.25deg); }
  65% { transform: rotate(-.25deg); }
  70% { transform: rotate(.25deg); }
  75% { transform: rotate(-.25deg); }
  80% { transform: rotate(.25deg); }
  85% { transform: rotate(-.25deg); }
  90% { transform: rotate(.25deg); }
  95% { transform: rotate(-.25deg); }
  100% { transform: rotate(0deg); }
}

svg {
  width: 600px;
  height: 600px;
}