body {
  width: 100%;
  height: 100%;
}

img {
  width: 400px;
  height: 300px;
}

.parent {
  display: flex;
  justify-content: space-around;
  height: 100%;
  align-content: center;
}

.section1 {
  margin-top: 3rem;
}

.section1 > h1 {
  text-align: center;
  font-family: 'Baloo Bhai', cursive;
  font-size: 4rem;
  text-shadow:
-2px -2px 0 #000,
2px -2px 0 #000,
-2px 2px 0 #000,
2px 2px 0 #000;
  color: white;
}

.word {
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  margin-top:4rem;
  text-align: center;
  font-size: 3rem;
  width: 300px;
  height: 50px;
  border: none;
  border-bottom: 2px solid black;
  text-transform: uppercase;
  resize: none;
  overflow: hidden;
  outline: none;
}

.input:focus {
  border-bottom: 2px solid dodgerblue;
}

.num-char {
  display: inline-block;
}

.start-btn {
  margin-top: 3rem;
  font-size: 1.5rem;
}

.start-btn:hover {
  cursor: pointer;
}

[class^='hint'] {
  background-color: transparent;
  width: 600px;
  height: 70px;
  perspective: 1000px;
  margin-bottom: 0.7rem;
}

[class^='hint']:hover {
  cursor: pointer;
}

.hint-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.reveal .hint-inner {
  transform: rotateX(180deg);
}

.hint-front, .hint-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.hint-front {
  background-color: #bbb;
  color: black;
}

.hint-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateX(180deg);
}

footer {
  margin-top: 12rem;
}

.glossary-link {
 background-color: rgb(190, 190, 190);
 color: white;
 font-size: 2rem;
}

.section2 {
  margin-top: 13rem;
}