
body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: white;
  text-decoration: none;
}
.header{
  display: flex;
}

div.header img.logo{
  width: 475px;
  margin: auto;
}

.winner{
  margin: inherit;
}

div.winner img.stack{
  height: 450px;
  width: 450px;
}

h2{
  border-bottom: red solid 3px;
}

.container{
  display: flex;
  border: solid white 10px;
  margin: 0 auto;
  font-size: 15px;
}

div.results{
  width:30%;
  background-color: white;
  margin: auto;
  font-size: 45px;
}

div.selector{
  display: flex; 
  flex-direction: row; 
  margin: auto;
  width: 45%;
  margin-top: 6rem;
  justify-content: space-between;
}



div.selector div.glossbttn{
  text-align: center; 
  color:black;
  border-radius: 1rem;
  font-size: 3rem; 
  width: 13rem;
  opacity: .3;
  transition: 0.3s;
}

div.selector div.glossbttn:hover{
  opacity: 1;
  color: red;
} 

div.selector div.gamebttn{
  text-align: center; 
  color: black;
  border-radius: 1rem;
  font-size: 3rem; 
  width: 13rem;
  opacity: .3;
  transition: 0.3s;
}

div.selector div.gamebttn:hover{
  opacity: 1;
  color: red;
} 


