*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .shredder-body {
    animation-name: body-shake;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 0.5s;
    transform-origin: 50% 50%;
  }
  .resume {
      animation-name: shred1;
      animation-duration: 60s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
  }

  .resume-shred {
    animation-name: shred-paper;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 0s;
  }
  .resume-shred-1 {
    animation-name: shred-paper;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 0.75s;
  }
  .resume-shred-2 {
    animation-name: shred-paper;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 1.5s;
  }

  @keyframes shred-paper{
    0% { opacity: 1; transform: scaleY(1);}
    100% { opacity: 0;transform: scaleY(1.5);}
  }

  @keyframes shred1 {
    0% { transform: translate3d(80px, 0, 0); }
    100% { transform: translate3d(80px, 320px, 0); }
  }

  @keyframes body-shake {
    0% { transform: rotate(.25deg); }
    5% { transform: rotate(-.25deg); }
    10% { transform: rotate(.25deg); }
    15% { transform: rotate(-.25deg); }
    20% { transform: rotate(.25deg); }
    25% { transform: rotate(-.25deg); }
    30% { transform: rotate(.25deg); }
    35% { transform: rotate(-.25deg); }
    40% { transform: rotate(.25deg); }
    45% { transform: rotate(-.25deg); }
    50% { transform: rotate(.25deg); }
    55% { transform: rotate(-.25deg); }
    60% { transform: rotate(.25deg); }
    65% { transform: rotate(-.25deg); }
    70% { transform: rotate(.25deg); }
    75% { transform: rotate(-.25deg); }
    80% { transform: rotate(.25deg); }
    85% { transform: rotate(-.25deg); }
    90% { transform: rotate(.25deg); }
    95% { transform: rotate(-.25deg); }
    100% { transform: rotate(0deg); }
  }